@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Rowdies:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #1759da !important;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  background-color: #e7eefe;
}

#custom-toast-container .Toastify__toast-body svg {
  fill: white;
}

.videoRecorder video::-webkit-media-controls {
  display: none !important;
}

.videoRecorder video::-webkit-media-controls-overlay-play-button {
  display: none !important;
}

.videoRecorder .sqs-video-icon {
  display: none !important;
}
.videoRecorder controls {
  display: none !important;
}

.videoDialog video::-webkit-media-controls {
  display: block !important;
}

.videoDialog video::-webkit-media-controls-overlay-play-button {
  display: block !important;
}

.videoDialog .sqs-video-icon {
  display: block !important;
}
.videoDialog controls {
  display: block !important;
}


@media screen and (max-width: 768px) {
  video{
    aspect-ratio: 1.75/1 !important;
  }
}

@layer base {
  html {
    font-family: "Nunito", sans-serif;
  }
  h1{
    font-family: "Rowdies", sans-serif;
  }
}
